body {
    font-family: 'Forum', cursive;
    cursor: default;
}

header {
    border-bottom: 50px black solid;
    background-color: #ffda58;
}

.nav_header {
    position: fixed;
    background-color: #000000;
    z-index: 2;
}

.nav_head div{
    padding:0 50px;
    padding-top: 10px;
    font-size: 25px;
}

.nav_head li{
    display: block;
    padding:0px 10px;
}

.nav_head li a{
    color: #b00000;
    border:none;
    text-decoration: none;
}

.nav_head li span:hover{
    color:white;
}

.nav_head li a img {
    width:40px;
}

.head_header {
    background:url(../img/back_main.jpg) no-repeat center;
    background-attachment: fixed;
    background-size:cover;
    width:100%;
    height: 600px;
    text-align: center;
    color:white;
    text-shadow: 3px 6px 4px black;
    margin-top: 30px;
}

.friedge_logo  img{
    height: 150px;
}

.friedge_logo{
    background-color: white;
    padding:10px;
    width: 700px;
    margin:0px auto;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.friedge_top{
    width:100%;
}

.friedge_top img {
    height: 500px;
    margin-top: 80px;
    margin:80px 40px -1px 0px;
}

.friedge_bottom img {
    height: 500px;
    margin:0px auto;
}

.section{
    background-color: #b00000;
}

.sect_special ul div{
    background-color: black;
    padding:90px;
    margin:50px auto;
    border-radius:100%;
    transition-duration: 0.7s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.sect_special ul div li{
    display: block;
}

.sect_special div:nth-child(1){
     background-image:url(..//img/ticket.png);
}

.sect_special div:nth-child(1):hover{
    background: url(..//img/ticket.png) no-repeat center;
    background-size: 130px;
    transition-duration:0.5s;
}

.sect_special div:nth-child(2){
     background-image:url(..//img/afisha1.png);
}

.sect_special div:nth-child(2):hover{
    background: url(..//img/afisha1.png) no-repeat center;
    background-size: 130px;
    transition-duration:0.3s;
}

.sect_special div:nth-child(3){
     background-image:url(..//img/search1.png);
}

.sect_special div:nth-child(3):hover{
    background: url(..//img/search1.png) no-repeat center;
    background-size: 130px;
    transition-duration:0.3s;
}
.sect_discrabe {
    margin:-55px auto;
    text-align: center;
}

.sect_discrabe li{
    display: block;
    padding:0 10px;
    margin:5px auto;
}

.sect_discrabe h2{
    font-size: 60px;
}

.sect_discrabe p{
    font-size: 18px;
    font-weight: bold;
}

.menu {
    margin-top:100px;
    font-size: 26px;
}

.menu_1 li{
    display:block;
}

.menu_1 img{
    width:40px;
}

.menu_1 ul div div {
    display: inline-block;
    background-color: #621b00;
    padding:15px;
    border-radius: 100%;
}

.menu_1 a{
    color:black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.menu_1 ul div{
    margin-right:10px;
}

.menu_1 ul{
    margin-bottom:37px;
}

.menu_1 ul a:hover{
    opacity: 0.8;
    padding-left:10px;
    transition-duration: 0.2s;
}

.menu_2__back {
    background-color: black;
    margin:40px auto;
    box-shadow: 10px 10px 0px #621b00;
}

.best_recipes h2{
    font-size: 50px;
    margin-bottom: 40px;
}

.carousel{
    padding:30px 0;
    width:100%;
    margin:0 auto;
}

.carousel-indicators .active {
  background-color: white;
}

.carousel-indicators{
    margin:40px auto;
}

.carousel-item div{
    text-shadow: 3px 3px 4px black;
}

.carousel-item img{
    height: 250px;
    background-size: cover;
    filter:brightness(80%);
}

.carousel-item div a{
    color:white;
}
