body {
    font-family: 'Forum', cursive;
    cursor: default;
}

header {
    margin-bottom: 100px;    
}

section{
    min-height: 600px;
}

.nav_head div{
    padding:0 60px;
    padding-top: 10px;   
    font-size: 25px;
}

.nav_head li{
    display: block;
}

.nav_head li a{
    color:black;
    border:none;
    text-decoration: none;
}

.nav_head li span:hover{
    border-bottom: 2px solid #662d91;
}

.nav_head li a img {
    width:35px;
}

.nav_head__block {
    position: fixed;
    background-color: white;
    z-index: 1;
    border-bottom: 2px solid #fecb55;
}

.sect_head h1{
    font-size: 50px;
}

.tabs{
    display:inline-block;
}

.tabs ul{
    margin:0px;
    padding:0px;
}

.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.tabs ul li:nth-child(1){
    background:#7e6bc4;
    color:#fecb55;
}

.tabs ul li:nth-child(2){
    background:#fecb55;
    color:#7e6bc4;
}

.tabs ul li.active{
    width:200px;
}

.tabs_content__1 .sect_search{
    width:600px;
}

.form_check h6{
    background-color: #fecb55;
    color:black;
    padding:5px 0;
    width: 70px;
    text-align:center;
    border-radius: 100px;
}

.tabs_content {
    font-family: 'Roboto Condensed', sans-serif;     
}

.tabs_content__1 .form_check{
    margin:0px;
    width:500px;
}

.tabs_content__1 .form_check div{
    margin:5px 25px;    
}

.tabs_content__1 form{
    padding:20px 15px;
    border-radius: 10px;
    background-color: #7e6bc4;
    min-height: 100px;
    width:600px;
}

.tabs_content__1 form button{
    background-color: #fecb55;
    border:1px solid #fecb55;
    color:black;
}

.tabs_content__1 form button:focus{
    box-shadow: none;    
}

.tabs_content__1 form button:default{
    background-color: none;
}

.tabs_content__1 form button:hover{
    background-color:#fecb55;
    border:1px solid #fecb55;
    opacity: 0.9;
}

.sect_search .form-control:focus{
    box-shadow: none;
    border:2px solid #fecb55;
}

.tabs_content__2 {
    background-color: #fecb55;
    min-height: 200px;
    padding:10px 0px;
    border-radius: 10px;
    width: 610px;
}

.tabs_content__2 .dropright .button_2{
    padding:0px 20px;
}

.tabs_content__2 .form_check div h6{
    background-color: #7e6bc4;
    color:white;
    text-shadow: 1px 1px 1px black; 
}

.tabs_content__2 .form_check div{
    margin:5px 20px;
}

.tabs_content__2 .form_check {
    width:600px;
}

.tabs_content__2 .btn-group{
    width:600px;
    margin:1px auto;
}

.tabs_content__2 .btn-group .button_1{
    width:550px;
}

.tabs_content__2 .btn-group button{
    background-color:white;
    border:2px solid #fecb55;
    border-radius: 5px;
    font-size: 17px;
    text-align: left;
    color:black; 
}

.tabs_content__2 .btn-group .button_1:active{
    background:none;
    border:2px solid white;
}

.tabs_content__2 .btn-group .button_2:focus{
    background:none;
    border:2px solid white;
    box-shadow: none;
}

.tabs_content__2 .dropdown-menu div{
    border:1px solid lightgrey;
    text-align: center;
    padding:10px;
    max-width: 200px;
    font-size: 15px;
}

.tabs_content__2 .dropdown-menu{
    padding:5px;
    box-shadow: 5px 5px 1px #7e6bc4;
    margin:0px 5px;
}

.tabs_content__2 .dropdown-menu div:hover{
    border:2px solid grey;    
}


.tabs_content__2 .dropdown-menu a{
    text-decoration:none;
    color:black;
}